<template [ngIf]="fetchState === loginMethodsFetchStates.Fetching">
    <div class="loading-text">
        <i class="fas fa-circle-notch fa-spin spinner"></i>
        <h4>Getting your accounts ready...</h4>
    </div>
</template>

<template [ngIf]="fetchState === loginMethodsFetchStates.Done">
    <ul class="list-group" style="padding-bottom:20px;">
        <li *ngIf="basic.enabled" class="list-group-item">
            <button
                class="btn btn-primary"
                routerLink="/login/basic"
            >
                Login using Basic credentials
            </button>
        </li>
        <li *ngIf="tba.enabled" class="list-group-item">
            <button class="btn btn-primary" (click)="onTBASelection($event)">
                Login using TBA tokens
            </button>
        </li>
    </ul>

    <ul *ngIf="sso.enabled" class="list-group">
        <template ngFor let-option [ngForOf]="sso.options">
            <li class="list-group-item">
                <button
                    class="btn btn-primary"
                    routerLink="/login/sso"
                    [queryParams]="{accountId:option.accountId}"
                    >
                    Login via SSO ({{option.label}})
                </button>
            </li>
        </template>
    </ul>
    <hr/>
    <button class="btn btn-secondary" routerLink="/">back</button>
</template>
