<div>
    <div *ngIf="type === 'basic'">
        <div class="view-title">Sign in with your NetSuite Password</div>
        <app-basic-login [email]="userEmail"
            (basicLoginStateChange)="onBasicLoginStateChange($event)"
        >
            <div footer-content>
                <span class="error-text" *ngIf="loginFailed">
                    Invalid login credentials. Please try again.
                </span>
            </div>
        </app-basic-login>
    </div>

    <div *ngIf="type === 'tba'">
        <div class="view-title">Login with your NetSuite TBA Token</div>
        <app-tba-login (tbaLoginStateChange)="onTBALoginStateChange($event)" [email]="userEmail">
            <div optional-content>
                <div class="persist-tokens">
                    <input id="persistTokensCheckbox" type="checkbox" [(ngModel)]="persistTokens" class="form-control"/>
                    <label for="persistTokensCheckbox">
                        Save this token to the device
                    </label>
                </div>

                <div *ngIf="persistTokens" style="margin-top:10px; margin-bottom:10px;">
                    <label for="tag-name">Token Name</label>
                    <input class="form-control" id="tag-name" type="text" [(ngModel)]="tagName"/>
                </div>

                <div class="modal fade" id="confirmPinModal" tabindex="-1" role="dialog" aria-labelledby="confirmPinModalTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-body">
                                <app-tba-persist-view [showTag]="false" [account]="account"
                                    [token]="token" [tokenSecret]="tokenSecret" [systemTag]="tagName"
                                    (tokenPersistStateChanged)= "onTokenPersistStateChanged($event)"
                                >
                                    <span pin-label *ngIf="!hasASavedPin">
                                        Setup a pin to continue
                                    </span>
                                    <span pin-label *ngIf="hasASavedPin">
                                        Re-enter your pin to continue
                                    </span>
                                    <span save-label>
                                        Save the token
                                    </span>
                                </app-tba-persist-view>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </app-tba-login>
    </div>

    <div *ngIf="type === 'sso'">
        <div class="view-title">Logging you in using Single Sign On</div>

        <app-sso-login [email]="userEmail"
            (initiateSsoFlow)="onInitiateSSOFlow($event)"
            (ssoLoginStateChange)="onSSOLoginStateChange($event)"
            [tokenList]="tokens"
        >
            <div login-in-progress-content>
                <div class="spinner-container">
                    <div class="spinner"></div>
                </div>
                <div class="loading-text">Please login in the dialog window</div>
            </div>
        </app-sso-login>
        <br/>
        <br/>
    </div>

    <div class="router-link" *ngIf="!isNewUser">
        <a routerLink="/login" [queryParams]="{noFastForwardLogin: true}">
            Login with a different method
        </a>
    </div>
    <div class="router-link">
        <a routerLink="/" [queryParams]="{clearEmail: true}">
            Login with a different email
        </a>
    </div>
</div>
