@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Login to NetSuite</h1>
    <form>
        <input id="accountNumberBox" name="account" type="text" />
        <input id="submitBtn" type="submit" value="Login" />
    </form>
</div>