<app-tba-tokens-unlock-view (tokenRetrievalStateChanged)="onTokenRetrievalStateChanged($event)">
    <div invalid-pin-content>You have entered an invalid PIN</div>
</app-tba-tokens-unlock-view>

<div class="router-link">
    <a routerLink="/login/tba">Log into a different account or role</a>
</div>
<div class="router-link">
    <a routerLink="/login">Login with a different method</a>
</div>
<div class="router-link">
    <a routerLink="/" [queryParams]="{clearEmail: true}">
        Login with a different email
    </a>
</div>
