<app-tba-tokens-unlock-view (tokenRetrievalStateChanged)="onTokenRetrievalStateChanged($event)">
    <div invalid-pin-content class="error-text">
        You have entered an invalid pin. Please try again.
    </div>
</app-tba-tokens-unlock-view>

<div class="router-link">
    <a routerLink="/login/tba">Login with a different account/role's TBA token</a>
</div>
<div class="router-link">
    <a routerLink="/login">Login with a different method</a>
</div>
<div class="router-link">
    <a routerLink="/" [queryParams]="{clearEmail: true}">
        Login with a different email
    </a>
</div>
