.app{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: "san_francisco_textregular", 'Roboto', sans-serif;
    font-size: 13px;
    line-height: 18px;
    max-width: 100%;
    background: #f8f8f8;
    position: relative;
}

.app .text-left {
    text-align: left !important;
}

.app .text-right {
    text-align: right !important;
}

.app .f11 {
    font-size: 11px !important;
}

.app .f13 {
    font-size: 13px !important;
}

.app .f15 {
    font-size: 15px !important;
}

.app .f17 {
    font-size: 17px !important;
}

.app .app-title {
    background: #0075DA;
    padding: 10px 15px;
    margin-bottom: 20px;
    text-align: center;
}

.app .app-title .img img {
    height: 35px;
    display: block;
    margin: 0 auto;
}

.app .app-title .title-text {
    font-size: x-large;
    color: #fff;
    margin: 0 0 3px 0;
    font-weight: 300;
}

.app label {
    font-weight: normal;
}

.app a {
    color: #0075DA;
    text-decoration: none;
}

.app a:hover {
    color: #0075DA;
    text-decoration: none;
}

@keyframes rotation {
    0% {
        transform: rotate(0)
    }
    to {
        transform: rotate(359deg)
    }
}

.loader-background{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background: #FFF;
    opacity: 0.4;
}

.spinner{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

.spinner::after{
    content: "";
    position: absolute;
    width: 48px;
    height: 48px;
    border: 2px solid #0075da;
    border-left-color: transparent;
    border-radius: 50%;
    top: calc(50% - 24px);
    left: calc(50% - 24px);
    animation: rotation 1.5s linear infinite;
}

.loading-text {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    display: grid;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.loading-text span {
    align-self: center;
    padding-top: 150px;
}
