<div class="welcome-section">
    <div class="field-box welcome-box">
        <div class="icon-box excel-icon"></div>
        <h5>Mass update NetSuite Data</h5>
        <p>Work with NetSuite Data from Excel. Update multiple NetSuite records within seconds</p>
    </div>
    <div class="field-box welcome-box">
        <div class="icon-box clock-icon"></div>
        <h5>Productivity gains</h5>
        <p>Bring NetSuite data directly to Excel eliminating CSV exports and copy/paste</p>
    </div>
    <div class="field-box welcome-box">
        <div class="icon-box lock-icon"></div>
        <h5>Secure &amp; Realtime</h5>
        <p>Users inherit the permissions from their NetSuite role. Attempts to access records without appropriate permissions are blocked</p>
    </div>
    <div class="continue-btn">
        <button class="btn btn-primary" (click)="onContinue()">
            Continue
        </button>
    </div>
    <div class="field-box text-center">
        Learn more about
        <a href="https://www.cloudextend.io/products/netsuite-cloudextend-excel/" target="_blank">
            CloudExtend Excel for NetSuite
        </a>
    </div>
</div>
