/* You can add global styles to this file, and also import other style files */
/* @import '~@angular/material/prebuilt-themes/indigo-pink.css'; */

@import 'https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css';

html, body {
    height: 100%;
    width: 100%;
    margin: 0;

    background-color: #f8f8f8;
    color: #999;

    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.splash-screen{
    height: 100%;
    background: #0075DA;
    padding: 20%;
    margin: 0px;
    text-align: center;
    display: flex;
}

.splash-screen img{
    height: auto;
    width: 100%;
    display: block;
    margin: 0 auto;
    align-self: center;
}

.btn{
    width: 100%;
    border-radius: 2px;
    text-transform: uppercase;
    margin: 10px 0px;
}

input[type=email].form-control,
input[type=password].form-control,
input[type=text].form-control,
select.form-control{
    border: none;
    border-bottom: 1px solid #E1E1E1;
    border-radius: 0;
    background: transparent;
}

input[type=checkbox].form-control{
    width: 18px;
    height: 18px;
    margin-right: 10px;
    vertical-align: middle;
    display: inline-block;
}

input[type=email].form-control:focus,
input[type=password].form-control:focus,
input[type=checkbox].form-control:focus,
input[type=text].form-control:focus,
select.form-control:focus{
    box-shadow: none;
}

select.form-control:focus{
    border: none;
    border-bottom: 1px solid #E1E1E1;
    border-radius: 0;
    background: transparent;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
    box-shadow: none;
}

.form-label {
    color: #999;
}

.view-title {
    color: #222;
    text-align: center;
    font-size: 17px;
    line-height:25px;
    margin-bottom: 30px;
    font-weight: 400;
}

.view-sub-title {
    text-align: center;
    font-size: 11px;
    color: #999;
}

.router-link {
    text-align: center;
    margin: 10px;
}

.error-text {
    color: red;
}
