<div class="form">
    <div class="view-title">Enter your NetSuite username</div>

    <div class="form-group" [class.has-error]="email.invalid && email.touched">
        <div style="height: 105px;">
            <label for="email" class="form-label">Username</label>
            <input id="email" required pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$"
                name="email" #email="ngModel" type="email" [(ngModel)]="userEmail"
                class="form-control email-box"
                (keyup.enter)="onContinue(!email.touched || email.errors?.required || email.errors?.pattern)"/>

            <div *ngIf="email.touched">
                <span class="error-text" *ngIf="email.errors?.required">
                    Email is required
                </span>

                <span class="error-text" *ngIf="email.errors?.pattern">
                    Email is invalid
                </span>
            </div>
        </div>

        <button class="btn btn-primary"
            (click)="onContinue(!email.touched || email.errors?.required || email.errors?.pattern)"
            [disabled]='!email.touched || email.errors?.required || email.errors?.pattern'>
            Continue
        </button>
    </div>
</div>
