@{
    ViewData["Title"] = "ThreeStepAuth";
}

@model Account 

<div class="text-center">
    <h1 class="display-4">Login via NetSuite</h1>
    @Html.TextBoxFor(m => m.AccountName)
    
    <input type="submit" onclick="login()"/>

</div>