@{
    ViewData["Title"] = "Home - NetSuite Three Step Authorization Flow";
}

@model Account 

<div class="text-center">
    <p class="display-6">Provide your NetSuite Account Number</p>
    @Html.TextBoxFor(m => m.AccountName)
    
    <input type="submit" onclick="login()"/>

</div>